.highlight {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  height: 20rem;
  min-width: 100%;
}

.cards-section {
  /* background-color: beige; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  min-width: 100%;
  min-height: 100px;
}

.box-container {
  padding: 0;
  margin: 0;
  height: 6vw;
  width: 6vw;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* background-color: violet; */
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  perspective: 1000px;
  position: relative;
  height: 6vw;
  width: 6vw;
}

.H-card {
  position: absolute;
  height: 6vw;
  width: 6vw;
  backface-visibility: hidden;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pentagon-card {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background: linear-gradient(135deg,
    #616161 0%,
    #7d7d7d 30%,
    #b3b3b3 50%,
    #7d7d7d 70%,
    #616161 100%
  );
}

.pentagon-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.text-java, .text-oops {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.text-oops {
  font-size: 1.2vw;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e61b00, 0 0 40px #e61b00, 0 0 50px #e61b00, 0 0 60px #e61b00, 0 0 70px #e61b00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3f1dbd, 0 0 40px #3f1dbd, 0 0 50px #3f1dbd, 0 0 60px #3f1dbd, 0 0 70px #3f1dbd, 0 0 80px #3f1dbd;
  }
}

.circle-card {
background: linear-gradient(
  135deg,
  #2821b4,
  #4121b4,
  #341e64,   /* muted pink-red */
  #b42174,   /* light coral */
  #b42121
);

  border-radius: 50%;
}

.circle-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.text-css, .text-Bootstrap {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow1 1s ease-in-out infinite alternate;
  -moz-animation: glow1 1s ease-in-out infinite alternate;
  animation: glow1 1s ease-in-out infinite alternate;
}

.text-Bootstrap {
  font-size: 1vw;
}

@keyframes glow1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #441353, 0 0 30px #441353, 0 0 40px #441353, 0 0 50px #441353, 0 0 60px #441353, 0 0 70px #441353;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3f19ca, 0 0 40px #3f19ca, 0 0 50px #3f19ca, 0 0 60px #3f19ca, 0 0 70px #3f19ca, 0 0 80px #3f19ca;
  }
}

.diamond-card {
  background: linear-gradient(
    135deg,
    #3e1e1e,
    #5d2424,
    #7b2727,
    #b92e2e,
    #e62e2e
  );
  rotate: 45deg;
  transition: transform 0.5s;
  height: 5vw;
  width: 5vw;
}

.diamond-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.text-javascript, .text-html {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  rotate: -45deg;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}

.text-javascript {
  font-size: 1vw;
}

@keyframes glow2 {
  from {
    text-shadow: 0 0 10px #cf9d14, 0 0 20px #cf9d14, 0 0 30px #cf9d14, 0 0 40px #cf9d14, 0 0 50px #cf9d14, 0 0 60px #cf9d14, 0 0 70px #cf9d14;
  }
  to {
    text-shadow: 0 0 20px #da8331, 0 0 30px #da8331, 0 0 40px #da8331, 0 0 50px #da8331, 0 0 60px #da8331, 0 0 70px #da8331, 0 0 80px #da8331;
  }
}

.square-card {
  background: linear-gradient(
    135deg,
    #00ff86,
    #001aff
  );
  transition: transform 0.5s;
}

.square-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.text-arduino, .text-react {
  font-size: 1.3vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
  -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

@keyframes glow3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #dd2121, 0 0 30px #dd2121, 0 0 40px #dd2121, 0 0 50px #dd2121, 0 0 60px #dd2121, 0 0 70px #dd2121;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3700ff, 0 0 40px #3700ff, 0 0 50px #3700ff, 0 0 60px #3700ff, 0 0 70px #3700ff, 0 0 80px #3700ff;
  }
}

.box:hover .pentagon-card-front, .box:hover .circle-card-front, .box:hover .diamond-card-front, .box:hover .square-card-front {
  transform: rotateY(-180deg);
}

.box:hover .pentagon-card-back, .box:hover .circle-card-back, .box:hover .diamond-card-back, .box:hover .square-card-back {
  transform: rotateY(0deg);
}

.mob-img-3 {
  height: 3vw;
  width: 3vw;
  rotate: -45deg;
}

.mob-img-4 {
  height: 4vw;
  width: 4vw;
}

@media only screen and (max-width:568px) {

  .cards-section {
    /* background-color: beige; */
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 70px;
  }

  .box-container {
    height: 60px;
    width: 60px;
  }
  
  .box {
    height: 60px;
    width: 60px;
  }
  
  .H-card {
    height: 60px;
    width: 60px;
  }

  .mob-img-3 {
    height: 30px;
    width: 30px;
  }
  
  .mob-img-4 {
    height: 40px;
    width: 40px;
  }

  .text-java, .text-oops {
    font-size: 3.5vw;
  }
  
  .text-css {
    font-size: 3.5vw;
  }

  .text-Bootstrap {
    font-size: 3vw;
  }
  
  .text-html {
    font-size: 3.5vw;
  }

  .text-javascript {
    font-size: 3vw;
  }
  
  .text-arduino, .text-react {
    font-size: 3.3vw;
  }

}