.terminal-section {
    display: flex;
    height: auto;
    /* height: 149px; */
    max-width: 100%;
    margin-top: 15rem;
    /* overflow: hidden; */
    /* background-color: black; */
    /* z-index: -10; */
}

.bg-image {
    /* position: absolute; */
    margin: 0;
    padding: 0;
    display: flex;
    height: 35vw;
    width: 100%;
    background-image: url('../../Images/Terminal_Images/wave.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    /* background-attachment: fixed; */
    /* overflow: hidden; */
    /* z-index: -10; */
    /* background-color: pink; */
}

.content {
    position: absolute;
    display: flex;
    max-width: 100%;
    margin-top: 8vw;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.span-mail {
    font-weight: bold;
    font-size: clamp(10px, 2.3vw, 40px);
    padding: 3% 0 3% 0;
}

.line {
    margin-top: 1vw;
    border-left: 3px solid rgb(0, 0, 0);
    height: 24vw;
}

.link-image {
    display: flex;
    height: auto;
    width: auto;
    gap: 5vw;
}

.link-image>a {
    display: flex;
    height: auto;
    width: auto;
}

.link-image>a>img {
    max-height: 4vw;
    max-width: 3vw;
}

.about-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    width: 70%;
    border-radius: 10px;
    border: 2px solid black;
    /* word-wrap: break-word; */
    font-size: 1.2vw;
    word-spacing: 8px;
    text-align: justify;
    hyphens: auto;
    padding: 1vw;
}

.form1 {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    height: 20vw;
}

textarea {
    resize: none;
}

.t-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 3vw;
    border-radius: 30px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(rgb(255, 196, 0), rgb(255, 174, 0));
    box-shadow: 0px 0px 5px 0px rgba(223, 107, 12, 0.74);
}

.t-button:hover{
    cursor: pointer;
    background: rgb(233, 124, 22);
    color: white;
}

.right2 {
    display: none;
}


@media only screen and (max-width: 576px) {

    .terminal-section {
        margin-top: 8rem;
    }

    .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin: 0;
        padding: 0;
    }

    .span-mail {
        font-weight: bold;
        font-size: clamp(10px, 3vw, 20px);
        padding: 3% 0 3% 0;
    }

    .link-image>a>img {
        max-height: 6vw;
        max-width: 6vw;
    }

    .right, .about-project {
        display: none;
    }

    .right2 {
        display: block;
        width: 50%;
        margin: 0 10px 0 10px;
        /* align-items: center;
        justify-content: center; */
    }

    .about-project2 {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 5px;
        margin: 8vw 0 0 0;
        width: 100%;
        height: 14vw;
        font-size: 2vw;
    }
}