@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
}




.background li:nth-child(0) {
    left: 42%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 23%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 76%;
    width: 41px;
    height: 41px;
    bottom: -41px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 81%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 9s;
}
.background li:nth-child(4) {
    left: 73%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 14s;
}
.background li:nth-child(5) {
    left: 43%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 13s;
}
.background li:nth-child(6) {
    left: 17%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 7s;
}
.background li:nth-child(7) {
    left: 25%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 6s;
}
.background li:nth-child(8) {
    left: 62%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 7s;
}
.background li:nth-child(9) {
    left: 58%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 9s;
}