.n-wrapper{
    width: 100%;
    max-height: 16vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    max-width: 100%;
    margin-left: 6vw;
    align-items: center;
    display: flex;
}

.n-right{
    margin-right: 5vw;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.n-name{
    font-size: 40px;
    font-family: Brush Script MT;
    background: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 300%;
    background-position: left;
    cursor: pointer;
    animation: text-animation 3s infinite alternate;
}

@keyframes text-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.n-right-main-ul {
    display: flex;
    gap: 5vw;
    margin-right: 6vw;
    list-style: none;
}

.edulist-black>span, .explist-black>span, .projlist-black>span, .worklist-black>span, .otherlist-black>span {
    text-decoration: none;
    color: black;
    font-size: clamp(8px, 14px, 20px);
    font-weight: 600;
}

.edulist-white>span, .explist-white>span, .projlist-white>span, .worklist-white>span, .otherlist-white>span {
    text-decoration: none;
    color: white;
    font-size: clamp(8px, 14px, 20px);
    font-weight: 600;
}

.edulist-black>span:hover, .edulist-white>span:hover, .explist-black>span:hover, .explist-white>span:hover, .projlist-black>span:hover, .projlist-white>span:hover, .worklist-black>span:hover, .worklist-white>span:hover, .otherlist-black>span:hover, .otherlist-white>span:hover {
    color: rgb(255, 123, 0);
    cursor: pointer;
}

.edulist-black:hover>span>i, .edulist-white:hover>span>i, .explist-black:hover>span>i, .explist-white:hover>span>i, .projlist-black:hover>span>i, .projlist-white:hover>span>i, .worklist-black:hover>span>i, .worklist-white:hover>span>i, .otherlist-black:hover>span>i, .otherlist-white:hover>span>i {
    transform: rotate(90deg);
}

.edulist-black>span>i, .edulist-white>span>i, .explist-black>span>i, .explist-white>span>i, .projlist-black>span>i, .projlist-white>span>i, .worklist-black>span>i, .worklist-white>span>i, .otherlist-black>span>i, .otherlist-white>span>i{
    transition: transform 0.5s;
    margin-left: 5px;
}

.sub-menu1-ul, .sub-menu2-ul, .sub-menu3-ul, .sub-menu4-ul, .sub-menu5-ul {
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    position: absolute;
    display: none;
}

.edulist-black:hover .sub-menu1-ul, .edulist-white:hover .sub-menu1-ul, .explist-black:hover .sub-menu2-ul, .explist-white:hover .sub-menu2-ul, .projlist-black:hover .sub-menu3-ul, .projlist-white:hover .sub-menu3-ul, .worklist-black:hover .sub-menu4-ul, .worklist-white:hover .sub-menu4-ul, .otherlist-black:hover .sub-menu5-ul, .otherlist-white:hover .sub-menu5-ul {
    display: block;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.sub-menu1-ul>li, .sub-menu2-ul>li, .sub-menu3-ul>li, .sub-menu4-ul>li, .sub-menu5-ul>li {
    padding-top: 10px;
}

.edulist-black>ul>li>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -7px;
}

.edulist-white>ul>li>a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -7px;
}

.explist-black>ul>li>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -27px;
}

.explist-white>ul>li>a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -27px;
}

.projlist-black>ul>li>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -30px;
}

.projlist-white>ul>li>a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -30px;
}

.worklist-black>ul>li>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -21px;
}

.worklist-white>ul>li>a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: -21px;
}

.otherlist-black>ul>li>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: 7px;
}

.otherlist-white>ul>li>a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(8px, 14px, 20px);
    left: 7px;
}

.edulist-black>ul>li>a:hover, .edulist-white>ul>li>a:hover, .explist-black>ul>li>a:hover, .explist-white>ul>li>a:hover, .projlist-black>ul>li>a:hover, .projlist-white>ul>li>a:hover, .worklist-black>ul>li>a:hover, .worklist-white>ul>li>a:hover, .otherlist-black>ul>li>a:hover, .otherlist-white>ul>li>a:hover {
    color: rgb(255, 94, 0);
}

.button{
    border-radius: 30px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: clamp(8px, 12px, 20px);
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(rgb(255, 196, 0), rgb(255, 174, 0));
    box-shadow: 0px 0px 5px 0px rgba(223, 107, 12, 0.74);
}

.button:hover{
    cursor: pointer;
    background: rgb(233, 124, 22);
    color: white;
}

.mob-nav {
    display: none;
}
  
  /* For screens smaller than 576px (standard smartphones) */
  @media only screen and (max-width: 576px) {
    .mob-nav {
        display: flex;
        z-index: 10;
    }

    .nav-mob-btn {
        height: 10vw;
        width: 10vw;
        border: none;
        margin: 2vw 27vw 0 1vw;
        font-size: 20px;
    }

    .cross {
        background: linear-gradient(rgb(233, 124, 22), rgb(233, 124, 22));
    }

    .bars {
        background: linear-gradient(rgb(255, 196, 0), rgb(255, 174, 0));
    }

    .mob-name{
        display: block;
        font-size: 45px;
        font-weight: bold;
        font-family: Brush Script MT;
        background: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-size: 300%;
        background-position: left;
        cursor: pointer;
        animation: text-animation 3s infinite alternate;
    }

    .mob-wrapper-off, .n-left, .button {
        display: none;
    }

    .mob-wrapper-show {
        position: absolute;
        width: 40%;
        z-index: 5;
        display: block;
        margin: 0;
    }

    .n-right {
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
    }

    .n-right-main-ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 2vw 0 8vw 6vw;
        background-color: rgba(224, 224, 224, 0.918);
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: left;
        list-style: none;
        gap: 30vw;
    }

    .mob-ul {
        list-style: none;
    }

    .sub-menu1-ul, .sub-menu2-ul, .sub-menu3-ul, .sub-menu4-ul, .sub-menu5-ul{
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        display: none;
        width: 120%;
    }

    .mob-ul:hover .sub-menu1-ul, .mob-ul:hover .sub-menu2-ul, .mob-ul:hover .sub-menu3-ul, .mob-ul:hover .sub-menu4-ul, .mob-ul:hover .sub-menu5-ul {
        display: block;
        -webkit-animation: fadeIn 1s;
        -moz-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .sub-menu1-ul>li, .sub-menu2-ul>li, .sub-menu3-ul>li, .sub-menu4-ul>li, .sub-menu5-ul>li {
        margin: 2vw 0 2vw 0;
        padding-top: 0;
    }

    .mob-ul>ul>li>a {
        position: relative;
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: clamp(8px, 12px, 20px);
        left: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .edulist-white > a, .edulist-white > span, .explist-white > a, .explist-white > span, .projlist-white > a, .projlist-white > span, .worklist-white > a, .worklist-white > span, .otherlist-white > a, .otherlist-white > span {
        color: black;
}
  }



  /* For screens smaller than 768px (standard tablets) */
/* @media only screen and (max-width: 768px) {
    still under develop
  } */
  